<!-- <div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">
    <h3 class="w3-center">KONTAKT</h3>
    <p class="w3-center w3-large">Skontaktuj się z nami. Wyślij do nas wiadomość:</p>
    <div style="margin-top:48px">
      <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Warszawa, PL</p>
      <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +48 997</p>
      <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: sksksksk</p>
      <br>
      <form action="/action_page.php" target="_blank">
        <p><input class="w3-input w3-border box" type="text" placeholder="Imię" required name="Name"></p>
        <p><input class="w3-input w3-border box" type="text" placeholder="Email" required name="Email"></p>
        <p><input class="w3-input w3-border box" type="text" placeholder="Temat" required name="Subject"></p>
        <p><input class="w3-input w3-border box" type="text" placeholder="Wiadomość" required name="Message"></p>

        <div class="container">
          <button class="button" type="submit">
            <i class="fa fa-paper-plane"></i> WYŚLIJ WIADOMOŚĆ
          </button>
        </div>

      </form>
    </div>
  </div> -->


  <div class="contact-us">
    <div class="container1">
      <h3>KONTAKT</h3>
      <p>Skontaktuj się z nami. Wyślij do nas wiadomość</p>
    </div>
    <div class="columns">
      <div class="column">
        <i class="fa fa-map-marker fa-2x"></i>
        <p>Adres: Warszawa, PL</p>
      </div>
      <div class="column">
        <i class="fa fa-phone fa-2x"></i>
        <p>Telefon: +48 997</p>
      </div>
      <div class="column">
        <i class="fa fa-envelope fa-2x"></i>
        <p>Email: skskskskAardiumpl</p>
      </div>
    </div>
    <div class="container2">
      <div class="forms">
        <form action="/action_page.php" target="_blank">
          <p><input class="w3-input w3-border box" type="text" placeholder="Imię" required name="Name"></p>
          <p><input class="w3-input w3-border box" type="text" placeholder="Email" required name="Email"></p>
          <p><input class="w3-input w3-border box" type="text" placeholder="Temat" required name="Subject"></p>
          <p><input class="w3-input w3-border box" type="text" placeholder="Wiadomość" required name="Message"></p>

          <div class="container3">
            <button class="button" type="submit">
              <i class="fa fa-paper-plane"></i> WYŚLIJ WIADOMOŚĆ
            </button>
          </div>

        </form>  
      </div>
  
    </div>

  </div>