<header class="bgimg1 w3-display-container w3-grayscale-min">
  <div class="w3-display-left w3-text-white" style="padding: 48px;">
    <span class="w3-jumbo w3-hide-small">Pomożemy ci się zoptymalizować</span><br>
    <span class="w3-large">Nie marnuj swojego czasu i daj sobie pomóc.</span>
  </div>
</header>
<div class="w3-container" style="padding: 128px 16px;">
  <h3 class="w3-center">O naszej firmie</h3>
  <p class="w3-center w3-large">Czym się zajmujemy?</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <p class="w3-large">Excel</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-quarter">
      <p class="w3-large">Automatyzacja</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-quarter">
      <p class="w3-large">Stronki</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-quarter">
      <p class="w3-large">Pomoc</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
  </div>







</div>