<header>
  <div class="call_to_action">
    <h1 class="call1">Pomożemy ci się zoptymalizować</h1>
    <p class="call2">Nie marnuj swojego czasu i daj sobie pomóc.</p>
  </div>
</header>

<div class="container">
  <h3 class="center">O naszej firmie</h3>
  <p class="center">Czym się zajmujemy?</p>

  <div class="columns">
    <div class="column">
      <div class="center"><i class="fa-solid fa-file-excel fa-5x big-icon "></i></div>

      <h4>Excel</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nisi
        maxime quisquam quo rerum necessitatibus suscipit hic architecto
        perferendis, quasi qui vitae animi sapiente iure illum corporis ipsa ea
        officiis!
      </p>
    </div>
    <div class="column">
      <div class="center"><i class="fa-solid fa-brain fa-5x big-icon"></i></div>
      <h4>AI</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nisi
        maxime quisquam quo rerum necessitatibus suscipit hic architecto
        perferendis, quasi qui vitae animi sapiente iure illum corporis ipsa ea
        officiis!
      </p>
    </div>
    <div class="column">
      <div class="center"><i class="fa-solid fa-robot fa-5x big-icon"></i></div>

      <h4>Automatyzacja</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nisi
        maxime quisquam quo rerum necessitatibus suscipit hic architecto
        perferendis, quasi qui vitae animi sapiente iure illum corporis ipsa ea
        officiis!
      </p>
    </div>
  </div>
</div>

<!-- Box ze statystykami i liczbami -->
<h3 class="w3-center">ZAUFALI NAM</h3>

<div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">
  <div class="w3-quarter">
    <span class="w3-xxlarge">14</span>
    <br />Współpraca
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">55</span>
    <br />Projektów
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">89</span>
    <br />Klientów
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">150</span>
    <br />Spotkań
  </div>
</div>

<app-contact></app-contact>
