<header>
  <div class="call_to_action">
    <h1 class="call1">Pomożemy ci się zoptymalizować</h1>
    <p class="call2">Nie marnuj swojego czasu i daj sobie pomóc.</p>
  </div>
</header>

<div class="container">
  <h3 class="center">O NASZEJ FIRMIE</h3>
  <p class="center">Czym się zajmujemy?</p>

  <div class="columns">
    <div class="column">
      <div class="center"><i class="fa-solid fa-file-excel fa-5x big-icon "></i></div>

      <h4>Excel</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nisi
        maxime quisquam quo rerum necessitatibus suscipit hic architecto
        perferendis, quasi qui vitae animi sapiente iure illum corporis ipsa ea
        officiis!
      </p>
    </div>
    <div class="column">
      <div class="center"><i class="fa-solid fa-brain fa-5x big-icon"></i></div>
      <h4>AI</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nisi
        maxime quisquam quo rerum necessitatibus suscipit hic architecto
        perferendis, quasi qui vitae animi sapiente iure illum corporis ipsa ea
        officiis!
      </p>
    </div>
    <div class="column">
      <div class="center"><i class="fa-solid fa-robot fa-5x big-icon"></i></div>

      <h4>Automatyzacja</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nisi
        maxime quisquam quo rerum necessitatibus suscipit hic architecto
        perferendis, quasi qui vitae animi sapiente iure illum corporis ipsa ea
        officiis!
      </p>
    </div>
  </div>
</div>

<app-trust-us></app-trust-us>

<app-contact class="section"></app-contact>
