h1{
    color: red;
}

header {
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.item {
    display: block;
    padding: 1em;
}

.brand_name {
    display: block;
    padding: 16px;
    font-size: 36px;
    margin: 0;
    letter-spacing: .2rem;
    color: #FF5722;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    list-style: none;
    align-self: center;
}

.navigation a {
    padding: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-decoration: none;
}

.navigation a:hover {
    background: lightgray;
}